.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 35px 350px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 300px;
    grid-template-areas: 'faf    faf       faf'
                           'header header header'
                         ' main   footer   aside';

}


.grid img {
    height: 100%;

}
header{
    grid-area:header;
}

img {
    width: 100%;
    object-fit: cover;
}
main{
    grid-area: main;
    
}
footer{
    grid-area: footer;
}
aside{
    grid-area: aside;
}
.grid-banner{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    height: 100%;
}

@media(max-width: 576px){

    .grid-banner{
        grid-template-columns: 1fr;
        display: grid;
        grid-gap: 5px;
        padding: 10px;
    
    }

}

.faf{
    background-color: black;
    grid-area: faf;
}
button{

    
    color:  white;
    background-color: black;
    margin: 5px;
} 





